{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="site-container">
  <div class="top-section">
    <div class="top-section-line"></div>
    <div class="top-section-icon-container">
      <a href="https://www.linkedin.com/in/erickponce/" target="_blank">
        <img class="top-section-icon icon-in" src="img/icons/icon-in.png">
      </a>
    </div>
    <div class="top-section-icon-container">
      <a href="https://twitter.com/eponc3" target="_blank">
        <img class="top-section-icon icon-twitter" src="img/icons/icon-twitter.png">
      </a>
    </div>
    <div class="top-section-icon-container">
      <a href="https://angel.co/eponce" target="_blank">
        <img class="top-section-icon icon-ok" src="img/icons/icon-ok.png">
      </a>
    </div>
  </div>

  <div class="home" id="section_home">
    <div class="home-title-container">
      <h1 class="fs-mega gotham-medium">We Invest in the most valuable Ventures</h1>
    </div>
    <div class="home-subtitle-container">
      <h3 class="fs-h1 gotham-medium">Innovation Beyond Measure</h3>
    </div>
    <div class="home-card-container">
      <div class="home-card">
        <div class="home-card-logo-container">
          <img class="home-card-logo" src="img/logos/logo-eo.png">
        </div>
        <div class="home-card-title-container">
          <h1 class="fs-giga gotham-black">Healthcare<br>entrepreneur</h1>
        </div>
        <div class="home-card-info-container">
          <div class="home-card-info-line"></div>
          <div>
            <h2 class="fs-kilo gotham-medium">Erick Ponce</h2>
            <h3 class="fs-h1 gotham-medium">Healthcare Entrepreneur. Angel Investor.</h3>
            <div class="home-card-info fs-h3 gotham-book">
              <p>
                Founder & CEO of Fadermex, dedicated to create a new venture of high quality healthcare services and products. 
              </p>
              <p>
                LP at InvestoVC, seed capital fund based in San Francisco and Mexico City. Angel Investor at a wide range of healthcare, fin-tech and digital market startups.
              </p>
            </div>
            <a href="https://earn.com/eponce/" target="_blank">
              <button class="entos-button fs-h5 gotham-book">Ask me anything</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ventures" id="section_ventures">
    <h2 class="fs-mega gotham-medium">Ventures</h2>
    <h3 class="fs-h1 gotham-book">Some of our projects</h3>
    <div class="ventures-carousel owl-carousel">

      <div class="ventures-card-container">
        <div class="ventures-card-content card-ican card-special">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-ican" src="img/logos/ican-logo.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                Dedicated to bring forward the full benefits of the Medical Cannabis industry in the market and help reshape the healthcare landscape with proper regulations, scientific studies and social responsibility.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-ican" src="img/logos/ican-logo-white.png">
        </div>
      </div>

      <div class="ventures-card-container">
        <div class="ventures-card-content card-scooters">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-scooters" src="img/logos/logo-scooters-grin.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                  Grin Scooters (now Grow Mobility) is a micro-mobility company in Latin America that operates a network of operational shared electric scooters.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-scooters" src="img/logos/logo-scooters-grin-white.png">
        </div>
        <div class="ventures-card-content card-thc">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-thc" src="img/logos/thc-logo.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                A venture capital fund for the emerging cannabis ecosystem. Part of ICAN's umbrella of cannabis ventures.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-thc" src="img/logos/thc-logo-white.png">
        </div>
      </div>

      <div class="ventures-card-container">
        <div class="ventures-card-content card-higia">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-higia" src="img/logos/eva-logo.svg">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                Mexican biosensors company devoted to boosting women's quality of life by attaining a professionalization of the self exploration method for the early and effective detection of breast cancer.
              </p>
            </div>
          </div>
          <div class="ventures-card-logo-eva">
            {% include 'partials/eva-logo.njk' %}
          </div>
        </div>
        <div class="ventures-card-content card-peace">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-peace" src="img/logos/logo-peace.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                A health specialist company, designing a tailored plan for each family to delay the neurodegenerative process of a person with Alzheimer's or another type of dementia.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-peace" src="img/logos/logo-peace-white.png">
        </div>
      </div>

      <div class="ventures-card-container">
        <div class="ventures-card-content card-homie">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-homie" src="img/logos/logo-homie.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                Technological platform that allows people with good loan records and great properties to find each other.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-homie" src="img/logos/logo-homie-white.png">
        </div>
        <div class="ventures-card-content card-into">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-into" src="img/logos/into-logo.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                INTO™ walks you through the process of discovering and sharing your most distinctive stories, uploading all sorts of rich digital media and publishing them into a simple card format that can be easily swiped through, connecting your products to the mission you and your brand stand for.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-into" src="img/logos/into-logo-white.png">
        </div>
      </div>

      <div class="ventures-card-container">
        <div class="ventures-card-content card-fadermex">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-fadermex-hover" src="img/logos/logo-fadermex.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                A pharmaceutical-services company that creates in-house formulations (compounding) for the private and public sector.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-fadermex" src="img/logos/logo-fadermex-white.png">
        </div>
        <div class="ventures-card-content card-dermagis">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-dermagis" src="img/logos/logo-dermagis.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                Personalized skin-care. We tailor make your product in a professional manner, according to your brand and image, as well as to meet the needs of your clients. We give you a market-ready product through regulatory and scientific.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-dermagis" src="img/logos/logo-dermagis-white.png">
        </div>
      </div>

      <div class="ventures-card-container">
        <div class="ventures-card-content card-iidea">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-iidea" src="img/logos/logo-iidea.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                An ed-tech company focused on the healthcare ecosystem in Mexico and LATAM.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-iidea" src="img/logos/logo-iidea-white.png">
        </div>
        <div class="ventures-card-content card-clinical">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-clinical" src="img/logos/logo-clinical.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                A company specializing in comprehensive pharmaceutical services committed to the quality of professional services for the Health Industry; contributing to the well-being of the population.
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-clinical" src="img/logos/logo-clinical-white.png">
        </div>
      </div>

      <div class="ventures-card-container">
        <div class="ventures-card-content card-boxies">
          <div class="ventures-card-hover">
            <img class="ventures-card-logo-boxies" src="img/logos/logo-boxies.png">
            <div>
              <p class="fs-h6 gotham-book ventures-card-hover-paragraph">
                A ed-tech company focused on building sensory motor skills, promoting cognitive development on kids by LEARNING THROUGH CULTURE, ART & AUGMETED REALITY!
              </p>
            </div>
          </div>
          <img class="ventures-card-logo-boxies" src="img/logos/logo-boxies-white.png">
        </div>
      </div>
    </div>
    <div class="ventures-counter-container fs-h5 gotham-medium">
      <div class="ventures-counter-line"></div>
      <span id="ventures-counter-init"></span>
      <span class="ventures-counter-slash">/</span>
      <span id="ventures-counter-total" class="ventures-counter-total"></span>
    </div>
  </div>

  <div class="tweets" id="section_tweets">
    <div class="tweets-info-container">
      <h2 class="fs-mega gotham-medium">My tweets</h2>
      <h3 class="fs-h1 gotham-book">Stay up to the latest news</h3>
    </div>
    <a class="twitter-timeline" data-tweet-limit="2" data-chrome="noheader nofooter" href="https://twitter.com/eponc3?ref_src=twsrc%5Etfw">Tweets by eponc3</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </div>

  <div class="blog" id="section_blog">
    <h2 class="fs-mega gotham-medium">Blog</h2>
    <div class="blog-post-container"></div>
  </div>

  <div class="contact" id="section_contact">
    <h1 class="fs-giga gotham-black">Contact me</h1>
    <div class="contact-send-container">
      <div class="contact-line"></div>
      <div>
        <h3 class="fs-mega gotham-medium contact-subtitle">Send me your info</h3>
      </div>
    </div>
    <form class="contact-form" name="contact-entos" method="post" action="http://integrations.blick.mx/entos/contact/">
      <div class="contact-input-container">
        <div class="contact-input-content">
          <label class="fs-h2 gotham-medium contact-label" for="name">Name</label>
          <input class="fs-h2 contact-input gotham-book" type="text" id="name" name="name" required>
          <span class="focus-border"></span>
        </div>
      </div>
      <div class="contact-input-container">
        <div class="contact-input-content">
          <label class="fs-h2 gotham-medium contact-label" for="e-mail">E-mail</label>
          <input class="fs-h2 contact-input gotham-book" type="email" id="e-mail" name="email" required>
          <span class="focus-border"></span>
        </div>
      </div>
      <div>
        <button class="entos-button fs-h5 gotham-book" type="submit">Send</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
