<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <meta property="og:url" content="http://www.dim-sa.com.mx/" /> -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Entos | Innovation Beyond Measure" />
    <meta name="title" content="Entos | Innovation Beyond Measure" />
    <meta property="og:description" content="Empresa dedicada al desarrollo, fondeo, apoyo y mentoreo de emprendedores de alto impacto, en especial sector salud y tecnología" />
    <!-- <meta property="og:image" content="http://www.dim-sa.com.mx/img/backgrounds/home-carousel-1.jpg" /> -->
    <meta property="og:image:width" content="3000" />
    <meta property="og:image:height" content="4000" />
    <meta name="keywords" content="Technology, Development, Project, Advisory Board, Angel Investing, Angel Investor, Mentoring, Startup Advice and Strategy, Startup Business Models, Innovation, Health, Healthcare, Venture Capital, Entrepreneurs">
    <meta name="description" content="Empresa dedicada al desarrollo, fondeo, apoyo y mentoreo de emprendedores de alto impacto, en especial sector salud y tecnología" />
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link runat="server" rel="shortcut icon" href="img/favicon/favicon-entos.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicon/favicon-entos.png" type="image/ico"/>
    <title>Entos | Innovation Beyond Measure</title>
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
