<footer class="footer">
  <div>
    <img class="footer-logo" src="img/logos/logo-entos-white.png">
  </div>
  <div class="footer-section-container">
    <a href="">
      <span class="footer-section fs-h4 gotham-medium" id="footer-home">Home</span>
    </a>
    <a href="">
      <span class="footer-section fs-h4 gotham-medium">Ventures</span>
    </a>
    <a href="http://blog.entos.getmore.mx/">
      <span class="footer-section fs-h4 gotham-medium">Blog</span>
    </a>
    <a href="">
      <span class="footer-section fs-h4 gotham-medium">Contact</span>
    </a>
  </div>
  <div class="footer-icons-container">
    <div class="footer-icon-container">
      <a href="https://www.linkedin.com/in/erickponce/" target="_blank">
        <img class="footer-icon" src="img/icons/icon-in.png">
      </a>
    </div>
    <div class="footer-icon-container">
      <a href="https://twitter.com/eponc3" target="_blank">
        <img class="footer-icon" src="img/icons/icon-twitter.png">
      </a>
    </div>
    <div class="footer-icon-container">
      <a href="https://angel.co/eponce" target="_blank">
        <img class="footer-icon" src="img/icons/icon-ok.png">
      </a>
    </div>
  </div>
</footer>
