<nav class="navbar">
  <div class="">
    <a href="index.html">
      <img class="navbar-logo" src="img/logos/logo-entos.png" alt="Logo">
    </a>
  </div>
  <div class="navbar-links-container">
    <div class="navbar-link-container">
      <a href="#section_home" class="go-section active">
        <span class="fs-h4 gotham-medium">Home</span>
      </a>
      <div class="navbar-decorator" id="home-decorator"></div>
    </div>
    <div class="navbar-link-container">
      <a href="#section_ventures" class="go-section">
        <span class="fs-h4 gotham-medium">Ventures</span>
      </a>
      <div class="navbar-decorator" id="ventures-decorator"></div>
    </div>
    <div class="navbar-link-container">
      <a href="#section_blog" class="go-section">
        <span class="fs-h4 gotham-medium">Blog</span>
      </a>
      <div class="navbar-decorator"></div>
    </div>
    <div class="navbar-link-container">
      <a href="#section_contact" class="go-section">
        <span class="fs-h4 gotham-medium">Contact</span>
      </a>
      <div class="navbar-decorator" id="contact-decorator"></div>
    </div>
  </div>
</nav>
