.navbar
  align-items center
  border-right solid 2px rgba(26, 26, 26, 0.38)
  display flex
  flex-direction column
  height 100%
  left 0
  padding 48px 0
  position fixed
  top 0
  width 194px
  z-index 12

  &-logo
    height 98px
    width 79px

  &-links-container
    margin-top 40px

  &-link
    &-container
      align-items center
      display flex
      flex-direction column
      padding 25px 0

.go-section:after
  background-color $eWhite
  content ""
  display none
  height 63px
  margin 10px auto 0 auto
  width 1px

.go-section:hover:after
  display block

.go-section.active:after
  display block

.go-section.active span
  color $eWhite
  font-weight bold

.go-section span:hover
  color $eWhite
  font-weight bold

@media screen and (max-width 900px)
  .navbar
    background-color #3a3a3a
    flex-direction row
    left initial
    height 100px
    justify-content center
    padding 0 30px
    top 0
    width 100%

    &-logo
      height 55px
      width 45px

    &-links-container
      display flex
      flex-direction row
      margin 0 0 0 20px

    &-link
      &-container
        position relative
        &:first-child
          display none

        &:nth-child(3)
          margin 0 20px

    .go-section:after
      bottom 15px
      height 1px
      margin 0
      position absolute
      width 100%
