*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')
  min-height 100%
  position relative

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  background-image url("../img/backgrounds/top-background.png"), 
    url("../img/backgrounds/twitter-background.png"), 
    url("../img/backgrounds/footer-background.png"), 
    url("../img/backgrounds/decorator-background-footer.png"),
    url("../img/backgrounds/line-background.png"),
    url("../img/backgrounds/decorator-background.png"),
    url("../img/backgrounds/background-blog.png"),
    linear-gradient(to right, #3a3a3a, #121212)
  background-position top, top 28% left, bottom, bottom -360px left -100px, top right -100px, left top 78%, left -400px top 65%
  background-repeat no-repeat
  background-size contain, 55%, contain, 90%, 40%, 100%, 90%
  font-size inherit
  margin 0 0 582px 194px

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

@media screen and (max-width 900px)
  body
    margin 100px 0 582px 0

a
  outline none

  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  font-family inherit

  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

// Site styles

h1, h2, h3, h4, h5, h6, p
  margin 0

@import 'partials/navbar'

@import 'partials/footer'