@font-face
  font-family 'Gotham'
  src url('../fonts/Gotham-Black.woff') format('woff')
  font-weight $black
  font-style normal

@font-face
  font-family 'Gotham'
  src url('../fonts/Gotham-Bold.woff') format('woff')
  font-weight $bold
  font-style normal

@font-face
  font-family 'Gotham'
  src url('../fonts/Gotham-Book.woff') format('woff')
  font-weight $regular
  font-style normal

@font-face
  font-family 'Gotham'
  src url('../fonts/Gotham-LightItalic.woff') format('woff')
  font-weight $light
  font-style italic

@font-face
  font-family 'Gotham'
  src url('../fonts/Gotham-Medium.woff') format('woff')
  font-weight $medium
  font-style normal

.gotham-black
  font-family 'Gotham'
  font-weight $black
  font-style normal

.gotham-bold
  font-family 'Gotham'
  font-weight $bold
  font-style normal

.gotham-book
  font-family 'Gotham'
  font-weight $regular
  font-style normal

.gotham-lightitalic
  font-family 'Gotham'
  font-weight $light
  font-style italic

.gotham-medium
  font-family 'Gotham'
  font-weight $medium
  font-style normal

// Font styles

.fs-giga
  color $eBlackLight
  font-size $fsGiga
  letter-spacing 0.3px
  line-height 111px
  opacity 0.38

.fs-mega
  color $eWhite
  font-size $fsMega
  letter-spacing 0.3px
  line-height 71px

.fs-kilo
  color $eWhite
  font-size $fsKilo
  letter-spacing 0.2px
  line-height 71px

.fs-h1
  color $eGray
  font-size $fsH1
  letter-spacing 1.3px
  line-height 27px

.fs-h2
  color $eWhite
  font-size $fsH2
  letter-spacing 0.8px

.fs-h3
  color $eGray
  font-size $fsH3
  letter-spacing 0.2px
  line-height 38px

.fs-h4
  color $eGray
  font-size $fsH4
  letter-spacing 1.2px

.fs-h5
  color $eWhite
  font-size $fsH5
  letter-spacing 0.8px

.fs-h6
  color $eGrayLight
  font-size $fsH6
  line-height 24px

.fs-milli
  color $eGrayLight
  font-size $fsMilli
  line-height 13px

.fs-special
  color $eGrayLight
  font-size $fsSpecial
  line-height 22px

@media screen and (max-width 768px)
  .fs-giga
    font-size $fsGigaM
    line-height 57px
    opacity 0.38

  .fs-mega
    font-size $fsMegaM
    line-height 35px

  .fs-h1
    line-height 25px

  .fs-h3
    line-height 22px
