// COLORS
$errorColor = #ff3636
$successColor = #149a14

$eBlack = #1b1b1b
$eBlackLight = #151515
$eBlackStrong = #1a1a1a
$eGray = #b8b8b8
$eGrayLight = #eaeaea
$eGrayStrong = #979797
$eWhite = #ffffff

// Base font-size
$baseFontSize = 16

// Site font sizes

$fsGiga = remify(115px)
$fsMega = remify(54px)
$fsKilo = remify(38px)

$fsH1 = remify(25px)
$fsH2 = remify(22px)
$fsH3 = remify(18px)
$fsH4 = remify(17px)
$fsh5 = remify(15px)
$fsH6 = remify(14px)

$fsMilli = remify(11px)
$fsSpecial = remify(19px)

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black